.btn {
  width: 100%;
  display: inline-block;
  height: 100%;
  border: none;
  background-color: #eaecf0;
  border-radius: 8px;
  padding: 24px 32px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
  text-decoration: none;
}

.btn:active,
.btn:focus,
.btn:visited {
  background-color: none;
  outline: none;
  text-decoration: none;
}
.btn:hover {
  background-color: #dfe1e6;
}
